@inherits ScissorHands.Theme.MainLayoutBase

<!DOCTYPE html>
<html lang="@Site!.Locale">
<head>
    <GoogleAnalyticsComponent Documents="@Documents" Document="@Document" Plugin="@GoogleAnalyticsPlugin" Theme="@Theme" Site="@Site" />

    <base href="@Site!.BaseUrl" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="@($"/themes/{Theme!.Slug.TrimEnd('/')}/favicon.ico")" />

    <link rel="apple-touch-icon" sizes="57x57" href="@($"/themes/{Theme!.Slug.TrimEnd('/')}/apple-icon-57x57.png")">
    <link rel="apple-touch-icon" sizes="60x60" href="@($"/themes/{Theme!.Slug.TrimEnd('/')}/apple-icon-60x60.png")">
    <link rel="apple-touch-icon" sizes="72x72" href="@($"/themes/{Theme!.Slug.TrimEnd('/')}/apple-icon-72x72.png")">
    <link rel="apple-touch-icon" sizes="76x76" href="@($"/themes/{Theme!.Slug.TrimEnd('/')}/apple-icon-76x76.png")">
    <link rel="apple-touch-icon" sizes="114x114" href="@($"/themes/{Theme!.Slug.TrimEnd('/')}/apple-icon-114x114.png")">
    <link rel="apple-touch-icon" sizes="120x120" href="@($"/themes/{Theme!.Slug.TrimEnd('/')}/apple-icon-120x120.png")">
    <link rel="apple-touch-icon" sizes="144x144" href="@($"/themes/{Theme!.Slug.TrimEnd('/')}/apple-icon-144x144.png")">
    <link rel="apple-touch-icon" sizes="152x152" href="@($"/themes/{Theme!.Slug.TrimEnd('/')}/apple-icon-152x152.png")">
    <link rel="apple-touch-icon" sizes="180x180" href="@($"/themes/{Theme!.Slug.TrimEnd('/')}/apple-icon-180x180.png")">
    <link rel="icon" type="image/png" sizes="192x192"  href="@($"/themes/{Theme!.Slug.TrimEnd('/')}/android-icon-36x36.png")">
    <link rel="icon" type="image/png" sizes="192x192"  href="@($"/themes/{Theme!.Slug.TrimEnd('/')}/android-icon-48x48.png")">
    <link rel="icon" type="image/png" sizes="192x192"  href="@($"/themes/{Theme!.Slug.TrimEnd('/')}/android-icon-72x72.png")">
    <link rel="icon" type="image/png" sizes="192x192"  href="@($"/themes/{Theme!.Slug.TrimEnd('/')}/android-icon-96x96.png")">
    <link rel="icon" type="image/png" sizes="192x192"  href="@($"/themes/{Theme!.Slug.TrimEnd('/')}/android-icon-144x144.png")">
    <link rel="icon" type="image/png" sizes="192x192"  href="@($"/themes/{Theme!.Slug.TrimEnd('/')}/android-icon-192x192.png")">
    <link rel="icon" type="image/png" sizes="16x16" href="@($"/themes/{Theme!.Slug.TrimEnd('/')}/favicon-16x16.png")">
    <link rel="icon" type="image/png" sizes="32x32" href="@($"/themes/{Theme!.Slug.TrimEnd('/')}/favicon-32x32.png")">
    <link rel="icon" type="image/png" sizes="96x96" href="@($"/themes/{Theme!.Slug.TrimEnd('/')}/favicon-96x96.png")">
    <link rel="manifest" href="@($"/themes/{Theme!.Slug.TrimEnd('/')}/manifest.json")">

    <meta name="generator" content="@Site!.Generator" />

    <title>@PageTitle</title>
    <meta name="title" content="@PageTitle" />
    <meta name="description" content="@PageDescription" />

    <OpenGraphComponent Documents="@Documents" Document="@Document" Plugin="@OpenGraphPlugin" Theme="@Theme" Site="@Site" />

    @if (Theme!.Stylesheets is not null)
    {
        foreach (var css in Theme!.Stylesheets)
        {
            <link rel="stylesheet" href="@($"/themes/{Theme!.Slug.TrimEnd('/')}{css}")" />
        }
    }
</head>
<body>
    <Header Site="Site" Theme="Theme" />

    <main class="site-main">
        @Body
    </main>

    <Footer Site="Site" />

    @if (Theme!.Scripts is not null)
    {
        foreach (var script in Theme!.Scripts)
        {
            <script src="@($"/themes/{Theme!.Slug.TrimEnd('/')}{script}")"></script>
        }
    }
</body>
</html>

@code {
    /// <summary>
    /// Gets or sets the <see cref="PluginManifest"/> instance for Google Analytics.
    /// </summary>
    protected PluginManifest? GoogleAnalyticsPlugin { get; set; }

    /// <summary>
    /// Gets or sets the <see cref="PluginManifest"/> instance for Open Graph.
    /// </summary>
    protected PluginManifest? OpenGraphPlugin { get; set; }

    /// <inheritdoc />
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        GoogleAnalyticsPlugin = Plugins?.SingleOrDefault(p => p.Name!.Equals("Google Analytics", StringComparison.OrdinalIgnoreCase));
        OpenGraphPlugin = Plugins?.SingleOrDefault(p => p.Name!.Equals("Open Graph", StringComparison.OrdinalIgnoreCase));
    }
}